.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: white;
  animation: blink 1s step-start infinite;
  transform: translateY(3px);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.myCode {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.homeAboutMe {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.const {
  color: #569cd6;
}

.var {
  color: #4fc1ff;
}

.equal {
  color: #cccccc;
}

.return {
  color: #c586c0;
}

.instring {
  color: #ce9178;
}

.inObject {
  color: #9cdcfe;
}

.hire {
  color: #dcdcaa;
}
.number {
  color: #b5cea8;
}
.vsBackground {
  background-color: #1f1f1f;
}
.cssVar {
  color: #d7ba7d;
}
