.homeAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeContainer {
  color: red;
  display: flex;
  flex-direction: row;
  margin: 40px 20px;
  background-image: url("../assets/background/85-854922_code-transparent-binary-picture-black-and-white-stock.png");
  background-size: cover;
  background-color: rgba(13, 18, 36, 1);
  background-blend-mode: overlay;
  gap: 3rem;
  height: 100vh;
}
.homeText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.homeAboutMe {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin-left: 100px;
  width: 700px;
  justify-content: center;
}
.homeCode {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  width: 500px;
  height: 600px;
}

.exploreProjects {
  margin-top: 30px;
  max-width: 300px;
}
@media (max-width: 600px) {
  .homeContainer {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
  }
  .homeAboutMe {
    display: flex;
    margin: 0;
  }
  .homeCode {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}
