.navAll {
}
@media (max-width: 600px) {
  .navbar2 {
    position: fixed;
    max-width: 65%;
    align-items: center;
    background-color: transparent;

    width: 100%;
    left: 0;
    right: 0;
    top: 4px;
  }
  .logoForMobile {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .logoForMobile1 {
    position: absolute;
    left: 0px;
    top: -15px;
    margin: 0;
  }
  .logoForMobile2 {
    position: absolute;
    left: 10px;
    top: -15px;
    margin: 0;
    padding: 0;
  }
}
