#skills {
  display: flex;
  align-items: center;
  margin: 32px 32px;
  height: auto;
}

.skillsAll {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.skillsAll2 {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Add slight background color for visibility */
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.skillsAll2 h3 {
  font-size: 1.5rem;
}

.skillsAll2 img {
  margin-right: 10px;
}
@media (max-width: 600px) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
  }
  .skillsAll {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    height: auto;
    width: auto;
  }

  .skillsForMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    height: auto;
    width: auto;
  }
  .skillsAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .skillsAll1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .skillsAll2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }

  .skillsAll2 h3 {
    font-size: 1rem;
  }

  .skillsAll2 img {
    width: 30px;
    height: 30px;
  }
}
